<script src="/js/FrontEndInteractionChapter.js" type="text/javascript"></script>
<link href="/css/Chapter.css" rel="stylesheet">
<link href="/css/Rating.css" rel="stylesheet">
<link href="/css/AddContent.css" rel="stylesheet">
<script type="text/javascript">
function populateLists(obj){
  var elem = $('#fillWithLists')
  for(let e of elem.children()){
    e.remove();
  }

  var obj = {
    userid: {{userData.UserID}},
    contentid: 2 //// TODO:
  }

  $.ajax({
    type: 'POST',
    data: JSON.stringify(obj),
    contentType: 'application/json',
    url: 'http://localhost:3000/getLists',
    success: function(data){
      let rs = JSON.parse(data);
      for(let e of rs.result){
        elem.html('<span data-content-id="+e.id+">'+e.title+'</span>');
      }
      $('#AddContentToList').modal('show');
    }
  });
}
</script>
<center>
    {{#if isAuthor}}
    <button type="button" onclick="document.location.href = '/upload/{{chapterID}}'" style="float:right" class="btn btn-primary btn-floating" data-toggle="tooltip" data-placement="top" title="Inhalte zu diesem Kapitel hinzufügen"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    {{/if}}
    <h1>{{book}}</h1>
    <h5>von {{author}}</h5>
    <hr />
    <h2>{{chapterTitle}}</h2>
    <hr />
</center>

<!--Kaptiteltags anzeigen-->
<div id="myDiv">
</div>
<h5>Verwendete Tags</h5>
<div id="firstTags" style="margin-bottom: 30px">
    {{#each tagData}}
      <form action="/contentlist" method="post" class="formTagWrapper">
        <button type="submit" name="searchstring" value="{{this.tagTitle}}" class="tagLinks">{{this.tagTitle}}</button>
      </form>
    {{/each}}
</div>

<!--Carousel für die Kapitelinhalte-->
{{#each dataBig}}
{{{this}}}
{{/each}}

<!--Carousel für die möglicherweise aufgrund der Tags interessanten Inhalte-->
{{#each dataSmall}}
{{{this}}}
{{/each}}

<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-sm" onclick="populateLists(this)">Test</button>

<!--Add Content-->
<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="AddContentToList">
  <div class="modal-dialog modal-dialog-add-content">
    <div class="modal-header modal-header-add-content">
      <h5 class="modal-title" id="ModalLabel2">Material hinzufügen</h5>
    </div>
    <div class="modal-content modal-content-add-content">
      <div class="btn-group modal-dialog-button-box">
        <input type="text" class="input modal-input-add-content" type="button" placeholder="Neuen Listennamen eingeben"></input>
        <button type="button" class="btn btn-sm btn-primary dropdown-toggle dropdown-toggle-split modal-add-content-button-group" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu" id="fillWithLists">
          <span>Es gibt noch keine Listen</span>
        </div>
        <button type="button" class="btn btn-sm btn-primary modal-button-add-content modal-add-content-button-group">
          <span>Hinzufügen</span>
        </button>
      </div>
    </div>
  </div>
</div>


<!--Modal Rate Content-->
<div class="modal fade" id="rateModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ModalLabel">Bewerte den Content!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="rateModalWrapper" data-contentID="">
        <div class="rating">
          <span onclick="toggleStars(this)" data-star-value="5">☆</span>
          <span onclick="toggleStars(this)" data-star-value="4">☆</span>
          <span onclick="toggleStars(this)" data-star-value="3">☆</span>
          <span onclick="toggleStars(this)" data-star-value="2">☆</span>
          <span onclick="toggleStars(this)" data-star-value="1">☆</span>
        </div>
        <h5 class="rate_subheading">Sag deine Meinung!</h5>
        <div>
          <textarea id="rate_CommentBox"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" onclick="sendRating()" class="btn btn-primary">Rate</button>
      </div>
    </div>
  </div>
</div>
