<center>
    {{#if isAuthor}}
    <button type="button" onclick="document.location.href = '/upload/{{chapterID}}'" style="float:right" class="btn btn-primary btn-floating" data-toggle="tooltip" data-placement="top" title="Inhalte zu diesem Kapitel hinzufügen"><i class="fa fa-pencil" aria-hidden="true"></i></button>
    {{/if}}
    <h1>{{book}}</h1>
    <h5>von {{author}}</h5>
    <hr />
    <h2>{{chapterTitle}}</h2>
    <hr />
</center>

<!--Carousel für die Kapitelinhalte-->
{{#each dataBig}}
{{{this}}}
{{/each}}

<!--Carousel für die möglicherweise aufgrund der Tags interessanten Inhalte-->
{{#each dataSmall}}
{{{this}}}
{{/each}}
                